.listofnotes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: start;
}

.notecardwithgrad{
    width: 250px;
    height: 312px;
    padding: 1rem;
    position: relative;
    border: 1px solid #d1d0cd;
    padding: 5px;
    border-radius: 24px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}


.notecard{
    width: 240px;
    height: 300px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #dee0e3;
    padding: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.notecardtitle{
    font-size: x-large;
    overflow: hidden;
    height: 30px;
}

.notecarddesc{
    text-wrap: wrap;
    word-wrap: break-word;
    height: 170px;
    overflow: hidden;
}

hr{
    border-color: black;
    width: 210px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.cardbuttons{
    display: flex;
    justify-content: space-between;
}
.deletebutton{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}
.editbutton{
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    outline: none;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
}
