*{
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.app{
  display: flex;
  background-color: #f8f8f9;
  width:100vw;
  height: 100vh;
}
.user_profile{
  display: flex;
  margin-bottom: 30px;
}
hr{
  width: 170px;
}

.user_namemail{
  padding-left: 15px;
}
.user_icon{
  border-radius: 100%;
  width: 40px;
  background-color: #cefe47;
}
.u_name{
  font-size: large;
  font-weight: 500;
}
.u_email{
  font-size: small;
  font-weight: 400;
}
.menu{
  width: fit-content;
  height: 100vh;
  padding-left: 30px;
  padding-top: 40px;
  padding-right: 30px;
}

.create_note{
  margin-top: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #282c32;
  font-weight: 500;
  color: white;
}

.search_note{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #efeeee;
  font-weight: 500;
}

.search_note:focus{
  background-color: #282c32;
  font-weight: 400;
  color: white;
}

.all_notes{
  background-color: white;
  /* max-width: calc(100% - 150px); */
  width: calc(100% - 290px);
  /* width: 1200px; */
  height: 650px;
  border-radius: 20px;
  margin-top: 40px;
  padding-left: 40px;
  padding-top: 25px;
  padding: auto;
  overflow-y: scroll;
}

.get_all_notes{
  /* padding: 0; */
  display: flex;
  /* word-wrap: break-word; */
  flex-wrap: wrap;
  gap: 35px;
  justify-content: start;
  align-items: center;
}